$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #0086b3;
$markers-font-color: #00e600;
$white: #fff;
$box-border-style: solid;
$box-border-width: 5px;


body {
  background-color: $background-color;
  color: $markers-font-color;
  height: 100%;
}

// div {
//   height: 150px;
// }

.alert-message {
  color: $white;
}

.box-0 {
  border-bottom: $box-border-width $box-border-style $white;
  border-right: $box-border-width $box-border-style $white;
}

.box-1 {
  border-bottom: $box-border-width $box-border-style $white;
  border-left: $box-border-width $box-border-style $white;
  border-right: $box-border-width $box-border-style $white;
}

.box-2 {
  border-bottom: $box-border-width $box-border-style $white;
  border-left: $box-border-width $box-border-style $white;
}

.box-3 {
  border-bottom: $box-border-width $box-border-style $white;
  border-right: $box-border-width $box-border-style $white;
  border-top: $box-border-width $box-border-style $white;
}

.box-4 {
  border-bottom: $box-border-width $box-border-style $white;
  border-left: $box-border-width $box-border-style $white;
  border-right: $box-border-width $box-border-style $white;
  border-top: $box-border-width $box-border-style $white;
}

.box-5 {
  border-bottom: $box-border-width $box-border-style $white;
  border-left: $box-border-width $box-border-style $white;
  border-top: $box-border-width $box-border-style $white;
}

.box-6 {
  border-right: $box-border-width $box-border-style $white;
  border-top: $box-border-width $box-border-style $white;
}

.box-7 {
  border-left: $box-border-width $box-border-style $white;
  border-right: $box-border-width $box-border-style $white;
  border-top: $box-border-width $box-border-style $white;
}

.box-8 {
  border-left: $box-border-width $box-border-style $white;
  border-top: $box-border-width $box-border-style $white;
}

.result {
  display: block;
}

.btn {
  display: block;
  text-align: right;
}

.box {
  cursor: pointer;
  font-size: 125px;
  height: 150px;
  text-align: center;
}
