$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #0086b3;
$box-border: #fff solid 5px;
$btn-bg-color: #053444;
$btn-hover-bg-color: #095b77;
$btn-margin-size-1: 10px;
$font-type: arial;
$hover-color:  #99e6ff;
$markers-font-color: #3cff3c;
$module-bg-color: #007399;
$module-border: 2px solid #004d66;
$white: #fff;


body {
  background-color: $background-color;
  font-family: $font-type;
  height: 100%;
}

fieldset {
  text-align: center;
}


.alert-message {
  color: $white;
  font-size: 18px;
  font-weight: 400;
  margin: 5px;
  text-align: right;
}

.box {
  color: $markers-font-color;
  cursor: pointer;
  font-size: 122px;
  height: 150px;
  line-height: normal;
  text-align: center;
}

.box-0 {
  border-bottom: $box-border;
  border-right: $box-border;
}

.box-1 {
  border-bottom: $box-border;
  border-left: $box-border;
  border-right: $box-border;
}

.box-2 {
  border-bottom: $box-border;
  border-left: $box-border;
}

.box-3 {
  border-bottom: $box-border;
  border-right: $box-border;
  border-top: $box-border;
}

.box-4 {
  border-bottom: $box-border;
  border-left: $box-border;
  border-right: $box-border;
  border-top: $box-border;
}

.box-5 {
  border-bottom: $box-border;
  border-left: $box-border;
  border-top: $box-border;
}

.box-6 {
  border-right: $box-border;
  border-top: $box-border;
}

.box-7 {
  border-left: $box-border;
  border-right: $box-border;
  border-top: $box-border;
}

.box-8 {
  border-left: $box-border;
  border-top: $box-border;
}

.btn {
  font-weight: 500;
}

.btn-info {
  display: block;
}

.btn-primary {
  background-color: $btn-bg-color;

  &:hover {
    background-color: $btn-hover-bg-color;
  }
}

.center {
  text-align: center;
}

.change-pwd-b {
  float: right;
}

.create {
  display: block;
  font-size: 150%;
  margin: 3% auto;
  padding: 1% 20%;
  text-transform: uppercase;
}

.game {
  display: block;
  margin-top: 5%;
}

.game-stat-b {
  float: right;
}

.header {
  clear: both;
  color: $white;
  display: block;
  font-size: 250%;
  padding-top: 10px;
  text-align: center;
}

.link {
  color: $white;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $hover-color;
  }
}

.mb-1 {
  margin-bottom: $btn-margin-size-1;
}

.ml-1 {
  margin-left: $btn-margin-size-1;
}

.mr-1 {
  margin-right: $btn-margin-size-1 * .5;
}

.sign-in-header {
  color: $white;
}

.sign-in-module {
  background-color: $module-bg-color;
  border: $module-border;
  float: none;
  margin: 5% auto;
  padding: 20px;
}

.sign-out-b {
  float: right;
}

.reset {
  display: block;
  font-size: 150%;
  margin: 0 auto;
  padding: 1% 20%;
  text-transform: uppercase;
}

.result {
  clear: both;
  color: $white;
  font-size: 150%;
  font-weight: 600;
  padding: 3%;
}
